<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <app-line-bar-chart></app-line-bar-chart>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Confirmed</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <app-line-bar-chart></app-line-bar-chart>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Confirmed</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <app-line-bar-chart></app-line-bar-chart>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Confirmed</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>