<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/kiranreddysn">
                        <i class="fa fa-facebook social" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/kiranhpe">
                        <i class="fa fa-github social" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kirann1994/">
                        <i class="fa fa-linkedin social" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="http://github.com/kiranhpe" target="_blank">Team Boaring</a>
        </div>
    </div>
</footer>
