<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-info"><span (click)="goBack()"><i class="fa fa-arrow-circle-o-left"
                            aria-hidden="true"></i> Back</span></h4>
            </div>
        </div>
        <div class="card" *ngFor="let update of updates?.slice().reverse();index as i">
            <div class="card-header">
                <h3 class="card-title"><span><i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span class="pull-right">{{frameTimeStamp(update.timestamp) | date:'medium'}}</span></span></h3>
                <h4 class="card-title">{{update.update}}</h4>
            </div>
        </div>
    </div>
</div>