<div id="overlay" [ngClass]="isLoading ?'load':'unload'">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="card-header">
            <h4 class="card-title text-info"><span (click)="goBack()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp;</span>{{state?.state}}
                <span class="pull-right refresh" (click)="loadDistrictData()"><i class="fa fa-refresh" aria-hidden="true"></i></span></h4>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon ">
                        <div class="card-icon">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">Confirmed</p>
                        <h3 class="card-title">{{state?.confirmed}}</h3>
                        <h4 class="card-title text-danger"><i class="fa fa-caret-up" aria-hidden="true"></i> {{state?.deltaconfirmed}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> {{state?.lastupdatedtime }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">Active</p>
                        <h3 class="card-title">{{state?.active}}</h3>
                        <h4 class="card-title text-warning"><i class="fa fa-info" aria-hidden="true"></i> 0</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> {{state?.lastupdatedtime }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">Recovered</p>
                        <h3 class="card-title">{{state?.recovered}}</h3>
                        <h4 class="card-title text-success"><i class="fa fa-caret-up" aria-hidden="true"></i> {{state?.deltarecovered}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> {{state?.lastupdatedtime }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">Deaths</p>
                        <h3 class="card-title">{{state?.deaths}}</h3>
                        <h4 class="card-title text-info"><i class="fa fa-caret-up" aria-hidden="true"></i> {{state?.deltadeaths}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> {{state?.lastupdatedtime }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">District wise stats</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>State</th>
                                <th>Confirmed</th>
                            </thead>
                            <tbody *ngIf="districts">
                                <tr *ngFor='let district of districts'>
                                    <td>{{district.district}}</td>
                                    <td>
                                        <p><span class="text-danger"><i class="fa fa-caret-up" aria-hidden="true"></i> {{district.delta.confirmed}} 
                                            </span>{{district.confirmed}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>